footer{
  max-width: 1152px;
  margin: 0 auto;
  background-color: black;
  color: white;
  text-align: center;
  padding: 40px 0;
  font-size: 1em;
  @include max-screen($sp) {
    max-width: 767px;
  }
}