/* header*/
header {
  max-width: 1152px;
  margin: 0 auto;
}
$pc:1152px;
$sp:767px;
@mixin max-screen($break-point) { //$break-point引数
    @media screen and (max-width: $break-point){
        @content;
    }
}
@mixin min-screen($break-point) {
    @media screen and (min-width: $break-point){
        @content;
    }
}
@mixin screen($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max){
        @content;
    }
}

.header {
  display: flex;
  justify-content: flex-end;
  height: 150px;
  position: relative;
  .header-right{
      margin-top: 75px;
  }
}


.nav{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    a{
        padding-left: 20px;
        color: black;
      
    }
}
    
 .content1{
     margin: 40px;
     height: 80px;
 }

 .logo{
     position: absolute;
     top: 50px;
     left: 50px;
     z-index: 2;
 }

 .main-view{
     position: relative;
 }
.logo2{
    position: absolute;
    right: 1px;
    bottom: -47px;
    width: 495px;
    height: 261px;  
}
.main-view-img{
    // text-align: center;
    margin: 0 auto;
    display: block;

}
p{
    padding-top: 20px;
}
