/* header*/

$pc:1152px;
$sp:767px;
@mixin max-screen($break-point) { //$break-point引数
    @media screen and (max-width: $break-point){
        @content;
    }
}
@mixin min-screen($break-point) {
    @media screen and (min-width: $break-point){
        @content;
    }
}
@mixin screen($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max){
        @content;
    }
}

.nav{
    display: flex;
    justify-content: flex-end;

    }ul{
    list-style: none;

    }li{
        padding-left: 20px;
 }
 .content1{
     margin: 40px;
     height: 80px;
 }

 .content2{
     text-align: center;
     display: flex;
     justify-content: center;
     .content2-box {
        background-image: url(../image/visual_1_pc.png);
        background-size: 1024px 448px;
        background-repeat: no-repeat;
         width: 80vw;
        height: 100vh;
        
     }
 }
 .logo{
     position: absolute;
     top: 50px;
     left: 50px;
 }
.logo2{
    position: absolute;
    
    right: 80px;
    bottom: 50px;
    width: 495px;
    height: 261px;
    // margin-top: 300px;
    // margin-left: 500px;   
}
// .content3{
//     // margin-top: 80px;
// }