/* header*/
header {
  max-width: 1152px;
  margin: 0 auto;
  @include max-screen($sp) {
    max-width: 767px;
  }
}
$pc:1152px;
$sp:767px;
@mixin max-screen($break-point) { //$break-point引数
    @media screen and (max-width: $break-point){
        @content;
    }
}
@mixin min-screen($break-point) {
    @media screen and (min-width: $break-point){
        @content;
    }
}
@mixin screen($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max){
        @content;
    }
}

@mixin flexBox($content:center, $direction:row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content; 
    align-items: center;  
}

@mixin pcOnly {
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin spOnly {
    @media screen and (max-width: 767px){
        @content;
    }
}


.header {
  display: flex;
  justify-content: flex-end;
  height: 150px;
  position: relative;
  @include max-screen($sp){//スマホサイズ
    height: 300px;
    justify-content: center;
} 
    .header-left {
    @include max-screen($sp){
        margin: auto 0;
    }
 }
  .header-right{
      margin: auto 0;
      .hamburger-button{
          display: none;
      }
      @include max-screen($sp){//スマホサイズ
        position: fixed;
        top: 50px;
        right: 10px;
    } 
  }
     
}



.nav{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    line-height: 30px;
    a{
        padding-left: 20px;
        color: black;
    }
}


 .logo{
     position: absolute;
     top: 20%;
     left: 0;
     z-index: 2;
     @include max-screen($sp) {
        position: static;
     }
 }

 .main-view{
     position: relative;
 }
.logo2{
    position: absolute;
    right: 0;
    bottom: -11%;
    width: 31em;
    height: 17em; 
    @include max-screen($sp) {
      right: 250px;
      bottom: 250px;
   }
}
.main-view-img{
    margin: 0 auto;
    display: block;
}
.main-view-text {
  br{
    display: none;
    @include max-screen($sp){
      display: block;
    }
  }
  >p{
    padding-top: 20px;
    font-size: 1.5em;
  }
  @include max-screen($sp) {
   text-align: center; 
  }
}


//ハンバーガー
@include pcOnly {
    .nav-btn{
        display: none;
    }
}

@include spOnly {
    .nav{
        // メニュー本体
        @include flexBox(center,column);
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1;
        width: 100vw;
        height: 50vh;
        background:white;
        // アニメーション前のメニューの状態
        transform: translateX(100vw);
        // アニメーション後のメニューの状態
        &.is-active{
            transform: translateX(0);
        }
        // メニュー開閉アニメーションの設定
        transition: all .3s linear;

        //メニューの中身
        &-item{
            padding-top: 50px;
            text-align: center;

        }

        // メニュー開閉ボタン：ハンバーガー⇔バツ印はjsで制御
        &-btn{
            @include flexBox;
            width: 40px;
            height: 40px;
            background:white;
            i {
                z-index: 2;
            }
        }
    }
}