*{
  margin: 0;
  padding: 0;
}

@import "_header.scss";

main {
  max-width: 1152px;
  margin: 0 auto;
}

$pc:1152px;
$sp:767px;
@mixin max-screen($break-point) { //$break-point引数
    @media screen and (max-width: $break-point){
        @content;
    }
}
@mixin min-screen($break-point) {
    @media screen and (min-width: $break-point){
        @content;
    }
}
@mixin screen($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max){
        @content;
    }
}

.main-h2 {
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 30px 0;
  @include max-screen($sp){//スマホサイズ
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  } 
  .up-box{
    &:hover {
      box-shadow: 0 5px 10px black;
      transform: translate(0, -5px);
      border-radius: 10px;
    }
    .text-box {
      width: 300px;
      height: 100px;
      padding: 10px;
      .p-title{
        overflow-wrap:  break-word;
      }
      .up-date {
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
      }
    }
  }
}

.readmore {
  text-align: right;
  padding: 0 10px 10px 0;
  .border{
    color: black;
    display: inline-block;
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
    &::after{
      background-color: black;
      bottom: -5px;
      content: '';
      display: block;
      height: 1px;
      right: 0;
      position: absolute;
      transition: .5s all;
      width: 10px;
    }
    &:hover::after {
      width: 100%;
    }
  }
}



@import "_footer.scss";
