*{
  margin: 0;
  padding: 0;
}


@import "_header.scss";


$pc:1152px;
$sp:767px;
@mixin max-screen($break-point) { //$break-point引数
    @media screen and (max-width: $break-point){
        @content;
    }
}
@mixin min-screen($break-point) {
    @media screen and (min-width: $break-point){
        @content;
    }
}
@mixin screen($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max){
        @content;
    }
}


@media screen and (max-width){
  @content;
}

.main-h2 {
  text-align: center;
  font-size: 1.5em;
}

.box {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 40px 18%;
  @include max-screen($sp){//スマホサイズ
    flex-direction: column;
    justify-content: center;
  } 
  .up-box{
    .text-box {
      width: 300px;
      height: 100px;
      padding: 10px;
    }
  }
  .p-title{
    overflow-wrap:  break-word;
  }
  .p-btn {
    float: right;
    border-bottom: 1px solid black;
  }
}



@import "_footer.scss";
