.hamberger, .btn {
  display: none;
}

@media screen and (max-width:780px) {
  .nav {
      display: none;
  }

  .btn {
      display: block;
      /* top: 20px; */
      position: relative;
      width: 35px;
      height: 50px;
      cursor: pointer;
  }

  .icon, .icon::before, .icon::after{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      height: 2px;
      width: 35px;
      background-color: black;
      display: block;
      content: '';
      transition: all 1s;
  }

  .icon::before {
      top: 25px;
  }

  .icon::after {
      top: -25px;
  }

  .hamberger:checked ~.btn .icon {
      background-color: transparent;
  }

  .hamberger:checked ~.btn .icon::before {
      transform: rotate(-45deg);
      top: 0;
  }

  .hamberger:checked ~.btn .icon::after {
      transform: rotate(45deg);
      top: 0;
  }

  .hamberger:checked ~ .nav {
      display: flex;
  }
}